name: build

on:
  push:
    paths-ignore:
      - "README.md"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        version: ["master", "7.0", "8.0"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - run: ../build.sh
        working-directory: ${{ matrix.version }}
