name: arch-arm64

on:
  push:
    paths-ignore:
      - "README.md"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        version: ["main", "7.0", "8.0"]
        arch: ["amd64", "arm64"]
        variant: ["regular", "profiling"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Setup QEMU for ARM64 builds
        run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

      - name: Build image
        working-directory: ${{ matrix.version }}
        run: ../build.sh --arch ${{ matrix.arch }} --variant ${{ matrix.variant }}
