name: build

on:
  push:
    paths-ignore:
      - "README.md"
  pull_request:

jobs:

  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        version: ["master", "7.0"]
        arch: [amd64, arm64]
        variant: [~, profiling]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - run: ARCH=${{ matrix.arch }} ../build.sh ${{ matrix.variant }}
        working-directory: ${{ matrix.version }}
