name: nightly

on:
  schedule:
    - cron: "7 21 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        version: ["main", "7.0", "8.0"]
        arch: ["amd64", "arm64"]
        variant: ["regular", "profiling"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Setup QEMU for ARM64 builds
        run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Quay.io Login
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Log in to ghcr.io registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push image
        working-directory: ${{ matrix.version }}
        run: ../build.sh --arch ${{ matrix.arch }} --variant ${{ matrix.variant }} --push

  manifest:
    needs: build
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        version: ["main", "7.0", "8.0"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Quay.io Login
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Log in to ghcr.io registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Create and push manifests
        working-directory: ${{ matrix.version }}
        run: ../build.sh --no-build --manifest
